#canvas {

  margin: auto;
  background: #ececec;
  width: 100%;
}

.btn-disabled{

  color: white !important
}


#footer{

  padding: 20px;
  margin-top: 20px;
  color: white;
}

footer a {

  color:black;
}
